    </div>
    
<footer class="main-footer">

    <div class="vertical-container">

        <div class="wrapper">

            <p data="{{ site.authors[1].name }}" class="copy"><img src="https://raw.githubusercontent.com/dlina/dlina.github.io/master/images/cc-by.png"/> 
{% assign authors = site.authors.size %}
{% for author in site.authors %}
{{ author.name }}{% unless forloop.rindex0 < 2 %}, {% endunless %}{% if forloop.rindex0 == 1 %} and {% endif %}
{% endfor %}
	</p>

        </div>

    </div>

</footer>
