    </div>
    
<footer class="main-footer">

    <div class="vertical-container">

        <div class="wrapper">

            <p class="copy"><img src="https://raw.githubusercontent.com/dlina/dlina.github.io/master/images/cc-by.png"/> Frank Fischer, Robert Jäschke, Mathias Göbel</p>

            <ul class="social">
                <li><a href="https://twitter.com/search?q=%23weltliteratur">Twitter</a></li>
                <li><a href="https://github.com/weltliteratur/blog/">GitHub</a></li>

            </ul>

        </div>

    </div>

</footer>
