<section class="main-header regular">
  <div class="vertical-container">
    <div class="wrapper clearfix">
      <header>
	{% if page.path != 'index.html' %}<a href="/">{% endif %}
	  <h1 id="main-title">weltliteratur.net</h1>
	  <h2 id="main-subtitle">A Black Market for the Digital Humanities</h2>
	{% if page.path != 'index.html' %}</a>{% endif %}
      </header>

      <nav id="main-nav">
	<a href="/about/" class="{% if page.url == '/about/index.html' %}selected{% endif %}">About</a>
  <a href="/dh-mixtape-2016/" class="{% if page.url == '/dh-mixtape-2016/index.html' %}selected{% endif %}">2016 🎶</a>
  <a href="/dh-mixtape-2019/" class="{% if page.url == '/dh-mixtape-2019/index.html' %}selected{% endif %}">2019 🎶</a>
	<a href="http://data.weltliteratur.net/">Data</a>
      </nav>
    </div>
  </div>
</section>
