<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Weltliteratur</title>

    <meta name="description" content="Nationalliteratur will jetzt nicht viel sagen, die Epoche der Weltliteratur ist an der Zeit."/>
    <meta name="author" content=""/>
    <meta name="keywords" content="World Literature, Weltliteratur"/>

    <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/pygment_trac.css">
    <script src="{{ site.baseurl }}javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
      {{page.css}}
    </style>

  </head>
  <body>
    <div class="wrapper">
      <header class="without-description">
        <h1><a href="{{ site.baseurl }}">Weltliteratur Blog</a></h1>
        <p>Nationalliteratur will jetzt nicht viel sagen, die Epoche der Weltliteratur ist an der Zeit.</p>
        <!-- p class="view"><a href="https://github.com/weltliteratur">View the Project on GitHub <small>weltliteratur</small></a></p>
        <ul>
          <li class="single"><a href="https://github.com/weltliteratur/weltliteratur.github.io">View On <strong>GitHub</strong></a></li>
        </ul -->
      </header>
      <section>
	{% if page.title %}
	<h3>{{ page.title }}</h3>
	{% endif %}
	
        {{content}}
      </section>
    </div>
    <footer>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a> &mdash; Last updated on {{ page.date | date: "%-d %B %Y" }}</p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>
