{% include top.html %}

{% include header.html %}

<article class="main-content">

    <div class="wrapper">

        <header class="section-header">
            <h1 class="section-title">{{ page.title }}</h1>
 <span class="section-subtitle">by <strong>
{% assign authors = page.author.size %}
{% if authors > 1 %}
{% for author in page.author %}
{{ site.authors[author].name }}{% unless forloop.rindex0 < 2 %}, {% endunless %}{% if forloop.rindex0 == 1 %} and {% endif %}
{% endfor %}
{% else %}
{{ author.name }}
{% endif %}
</strong> &#8212; {% assign tagsize = page.tags.size %}{% if tagsize != 0 %}on {% for tag in page.tags %}<a href="{{ site.url }}/tags/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;&comma;&nbsp;{% endunless %}{% endfor %}{% endif %} <strong><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time></strong>
</span>
        </header>
      
        <section class="post-content">

        	{{ page.content | markdownify }}

            <div class="post-nav">

                <span class="section-subtitle">Share on <a href="https://twitter.com/home?status={{ page.title }}+{{ site.base }}{{ page.url }}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/share.php?u={{ site.base }}{{ page.url }}&amp;title={{ page.title }}" target="_blank">Facebook</a>, <a href="https://plus.google.com/share?url={{ site.base }}{{ page.url }}" target="_blank">Google+</a></span><br>

				{% if page.previous.url %} 
                	<a href="{{page.previous.url}}" class="button">Prev</a>
				{% endif %} 
				{% if page.next.url %} 
                	<a href="{{page.next.url}}" class="button">Next</a>
				{% endif %} 

            </div>

        </section>

    </div>

</article>

{% include footer.html %}

{% include bottom.html %}
