{% include top.html %}

{% include header.html %}

<article class="main-content" itemid="{{ page.url }}" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <div class="wrapper">

    <header class="section-header">
      <h1 class="section-title" itemprop="headline">{{ page.title }}</h1>
      
      <span class="section-subtitle">by
	<strong>
	  {% assign authors = page.author.size %}
	  {% if authors > 1 %}
	    {% for author in page.author %}
              {{ site.authors[author].name }}{% unless forloop.rindex0 < 2 %}, {% endunless %}{% if forloop.rindex0 == 1 %} and {% endif %}
            {% endfor %}
          {% else %}
            {{ author.name }}
          {% endif %}
	</strong> &#8212;
	{% assign tagsize = page.tags.size %}{% if tagsize != 0 %}on {% for tag in page.tags %}<a href="{{ site.url }}/tags/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;&comma;&nbsp;{% endunless %}{% endfor %}{% endif %}
	<strong><time itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time></strong>
      </span>
    </header>
      
    <section class="post-content" itemprop="articleBody">
      {{ page.content | markdownify }}
      
      <div class="post-nav">
	{% if page.previous.url %} 
          <a href="{{page.previous.url}}" class="button">Prev</a>
  	{% endif %} 
	{% if page.next.url %} 
          <a href="{{page.next.url}}" class="button">Next</a>
	{% endif %} 
      </div>

    </section>

  </div>

  {% include authors.html %}

</article>


{% if site.disqus and page.comments == true %}
<section class="disqus">
  <div class="wrapper">
    <h1 class="comments-header">Comments</h1>
    <div id="disqus_thread"></div>
    {% include disqus.html %}
  </div>
</section>
{% endif %}

{% include footer.html %}

{% include bottom.html %}
